/* General Styles */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Section */
h1 {
    text-align: center;
}

.logo-container {
    width: 100%;
    height: 80px;
    background-color: #232128;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #868d94;
    padding: 0 20px;
    height: 60px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #868d94;
}

.navbar li {
    margin-right: 15px;
    
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: #868d94;
}

.navbar a:hover {
    background-color: #43404d;
    color: white
}

.search-bar li {
    display: flex;
    align-items: center;
    float: right;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-bar button {
    border: 1px solid black;
}

.welcome-container {
    background-color: aqua;
}


#sticky-container {
    position: sticky;
    top: 0; /* Stick the container at the top of the viewport */
    z-index: 10; /* Ensure the sticky element stays above other content */
    background-color: #fff; /* Optional: Background color to make sure it appears over the content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}