/* Basic reset */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

/* Header Section */
h1 {
    text-align: center;
}

.logo-container {
    width: 100%;
    height: 80px;
    background-color: #232128;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: flex-start; /* Shift the nav buttons to the left */
    align-items: center;
    background-color: #868d94;
    padding: 0 20px;
    height: 60px;
    position: relative; /* Add this to position elements absolutely inside */
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #868d94;
    width: auto;
    flex-grow: 1; /* Allow navbar links to take available space */
}

.navbar li {
    margin-right: 15px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: #868d94;
}

.navbar a:hover {
    background-color: #43404d;
    color: white;
}

/* Move search bar to the right */
.search-bar {
    position: absolute;  /* Make the search bar absolute to the navbar */
    right: 20px;  /* Keep it 20px away from the right edge */
    top: 50%;  /* Vertically center it */
    transform: translateY(-50%);  /* Ensure it's vertically centered */
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-bar button {
    border: 1px solid black;
}

/* Sign-Up Box */
body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.signup-container {
    width: 100%;
    height: calc(100vh - 140px); /* Full height minus navbar and logo */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.signup-box {
    width: 300px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white; /* Ensuring white background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    color: #333;
    background-color: white; /* Explicit white background */
}

.signup-box form {
    background-color: white; /* Explicit white background */
}

.signup-box button {
    width: 100%;
    padding: 10px;
    background-color: #f26722;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-box button:hover {
    background-color: #d65c1f;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #f26722;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

#sticky-container {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
.site-footer {
    background-color: #232128;
    color: white;
    padding: 40px 0;
    font-size: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-links, .footer-social, .footer-newsletter {
    width: 30%;
}

.footer-links h4, .footer-social h4, .footer-newsletter h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-links ul, .footer-social ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-links li, .footer-social li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: underline;
    color: white;
}

.footer-social a {
    display: block;
    text-decoration: underline;
    color: white;
}

.footer-links a:hover, .footer-social a:hover {
    color: #f26722;
}

.footer-social i {
    margin-right: 10px;
}

.footer-newsletter form {
    background-color: transparent;
}

.footer-newsletter p {
    padding-bottom: 15px;
}

.footer-newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid rgb(139, 139, 139);
    margin-right: 10px;
    width: 70%;
}

.footer-newsletter button {
    padding: 10px 20px;
    background-color: #f26722;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.footer-newsletter button:hover {
    background-color: #c7561d;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 20px 0;
    background-color: #232128;
    font-size: 0.875rem;
}

.footer-bottom p {
    color: white;
    margin-top: 4rem;
}

.footer-bottom a {
    color: white;
}

.footer-bottom a:hover {
    color: #f26722;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-links, .footer-social, .footer-newsletter {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-newsletter input[type="email"] {
        width: 80%;
    }
}

/* Navbar for Mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar ul {
        display: none;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar li {
        margin: 10px 0;
        width: 100%;
    }

    .navbar a {
        padding: 15px;
        width: 100%;
        text-align: left;
    }

    .navbar a:hover {
        background-color: #43404d;
        color: white;
    }

    .navbar.active ul {
        display: flex;
    }

    .navbar .hamburger {
        display: none; /* Initially hide hamburger icon on larger screens */
    }

    .navbar .hamburger {
        display: block;
        cursor: pointer;
        color: transparent;
        font-size: 30px;
    }

    .navbar .hamburger:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .search-bar {
        position: absolute;
        right: 20px; /* Keep it 20px from the right edge */
        top: 50%;
        transform: translateY(-50%); /* Center vertically */
    }


    .search-bar input {
        width: calc(100% - 40px);
    }

    .search-bar button {
        margin-top: 5px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .navbar .home-button {
        display: none; /* Hide home button on small screens */
    }

    .navbar .hamburger {
        display: block; /* Show hamburger on very small screens */
    }
}
