/* General Styles */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Section */
h1 {
    text-align: center;
}

.logo-container {
    width: 100%;
    height: 80px;
    background-color: #232128;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #868d94;
    padding: 0 20px;
    height: 60px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #868d94;
}

.navbar li {
    margin-right: 15px;
    
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: #868d94;
}

.navbar a:hover {
    background-color: #43404d;
    color: white
}

.search-bar li {
    display: flex;
    align-items: center;
    float: right;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-bar button {
    border: 1px solid black;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black ;
    max-width: fit-content;
    height: 400px;
    padding-left: 10px auto;
}

.welcome-container div {
    padding: 50px;
}

.welcome-container h1 {
    padding-bottom: 20px;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
}

.welcome-container p {
    font-size: 20px;
}

/*Slideshow Panel*/
.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem  hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;

}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1.5rem;
    position: absolute;
    left: 50%;
    bottom: 1.25rem;
    transform: translateX(-50%);
    z-index: 1;
    background-color: transparent;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/*Space*/
.space {
    width: auto;
    height: 10rem;
    background-color: pink; 
}


#sticky-container {
    position: sticky;
    top: 0; /* Stick the container at the top of the viewport */
    z-index: 10; /* Ensure the sticky element stays above other content */
    background-color: #fff; /* Optional: Background color to make sure it appears over the content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}