/* General Styles */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.logo-container {
    width: 100%;
    height: 80px;
    background-color: #232128;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Space out the items */
    align-items: center; /* Center items vertically */
    background-color: #868d94;
    padding: 0 20px; /* Add some padding to the sides */
    height: 60px; /* Set height for the navbar */
}

.navbar ul {
    list-style-type: none;
    display: flex; /* Use flexbox for the list items */
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
    margin-right: 15px; /* Space out the list items */
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #43404d;
}

.search-bar li {
    display: flex;
    align-items: center; /* Center search bar vertically */
    float: right;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;  /* Fixed width of the search bar */
}

.search-bar button{
    border: 1px solid black;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black ;
    max-width: fit-content;
    height: 400px;
    padding-left: 10px auto;
}

.welcome-container div {
    padding: 50px;
}

.welcome-container h1 {
    padding-bottom: 20px;
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
}

.welcome-container p {
    font-size: 20px;
}

/*Slideshow Panel*/
/* Text Overlay */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.text-overlay h3 {
    font-size: 32px;
    margin: 0;
}

.text-overlay p {
    font-size: 20px;
}
